 body {
     display: flex;
     justify-content: center;
     align-items: center;
     flex-direction: column;
     height: 100vh;
 }

 .title {
     font-size: 30px;
 }

 input {
     height: 35px;
     border-radius: 5px;
     border: 1px solid black;
     padding-left: 10px;
     outline: none;
     font-size: 14px;
 }

 .date {
     height: 35px;
     font-size: 16px;
 }

 .add,
 .container button {
     border-radius: 5px;
     border: none;
     outline: none;
     font-size: 14px;
     cursor: pointer;
     background-color: green;
     color: white;
 }

 .container {
     margin: 10px 0;

 }

 .container button {
     background-color: #e40404;
     padding: 10px 30px;
 }


 .container,
 .inputs {
     display: grid;
     grid-template-columns: 200px 150px 100px;
     gap: 5px;
 }


 /* .list {
     list-style: none;
     padding: 0;
     padding-left: 5px;
 } */

 /* .list li {
     display: flex;
     justify-content: space-between;
     margin: 5px 0;
     font-size: 18px;
     font-weight: 600;
     text-align: start;
     margin: 20px 0;
 } */

 /* li button {
     padding: 8px 12px;
     color: #fff;
     background-color: #ef0707;
     border: none;
     border-radius: 5px;
     margin-left: 5px;
     font-size: 14px;
     cursor: pointer;
     transition: opacity 500ms ease-in-out;
 } */

 li button:hover {
     opacity: .8;
 }

 #error {
     /* display: none; */
     font-size: 18px;
     font-weight: 600;
     color: red;
 }