body {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100vw;
    height: 100vh;
    background-image: linear-gradient(to right top, #5c81b9, #0098c6, #00abac, #0fb675, #91b735);
}

.main {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 20px;
}


h1 {
    color: white;
    font-size: 30px;
    font-weight: 600;
    margin-bottom: 5px;
}

input {
    width: 200px;
    padding: 10px 16px;
    font-size: 14px;
    border-radius: 5px;
    border: 1px solid lightgray;
    outline: none;
}

.search-btn {
    padding: 12px 16px;
    border: none;
    cursor: pointer;
    background-color: black;
    color: rgb(255, 255, 255);
    border-radius: 5px;
    transition: opacity 500ms ease-in-out, color 500ms ease-in-out;
}

.search-btn:hover {
    opacity: .7;
}

.container {
    width: 250px;
    height: auto;
    display: none;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border: 5px solid;
    border-image: linear-gradient(to right top, #09dd09, #6dbb57, #0aa486, #bb475b, #b73562) 1;
    padding: 20px;
    margin: 20px;
    transition: border-image 500ms ease-in-out, delay 500ms;
}

.grdient {
    border-image: linear-gradient(to right top, #09dd09, #6dbb57, #0aa486, #bb475b, #b73562) 1;
    padding: 20px;
    margin: 20px;
    transition: border-image 500ms ease-in-out;
}

.container:hover {
    border-image: linear-gradient(to right top, #bb475b, #b73562, #09dd09, #6dbb57, #0aa486) 1;
}

.container img {
    height: 150px;
    object-fit: cover;
    border-radius: 50%;
}

.container p {
    font-size: 16px;
    font-weight: 500;
    margin: 5px 0;
}

.message {
    color: white;
    font-size: 18px;
    font-weight: 600;
    margin: 0;
}